.Adfrom {
  max-width: 300px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin:50px auto;
  background-color: #e6e6e6;
  border-radius: 25px;
}
.Adfrom {
  border: 1px solid black;
  padding: 28px;
}
input {
  max-width: 300px;
  min-width: 250px;
  width: 30%;
  border-radius: 6px;
  height: 35px;
  padding: 10px;
  border: 2px solid #e6e6e6;
}
.btn {
  max-width: 300px;
  min-width: 250px;
  width: 30%;
  background-color: #32cd32;
  height: 32px;
  color: #404040;
  text-align: center;
  padding-bottom: 27px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}
.btn:hover {
  color: 2F4F4F;
}
.login {
  text-align: center;
  color: 696969;
  font-weight: 700;
}
.alert {
  color: red;
  margin-top: -10px;
  height:5px;
}

.emaillabel {
  color: #404040;
  font-weight: 600;
}
.passlabel{
  color: #404040;
  font-weight: 600;
  padding-top:5px;
}
.forget {
  text-align: center;
  color: #404040;
  font-weight: 600;

}
.forget:hover{
  text-decoration: none;
  text-align: center;
  color: #404040;
  font-weight: 600;
  
}
